.logo{
    text-align: center;
    padding-top: 40px;
}
.logo img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
.logo p{
    color: #fff;
    font-size: 17px;
    margin: 20px 0px;
}
.ant-layout-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}